<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/static/app.css">

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div id="window-box" class="d-flex justify-content-center align-items-center">
        <div id="content" class="text-center">
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
                {{msg}}
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </div>
    </div>
</body>

</html>